In [1]:
import pandas as pd

In [2]:
 student = {
     "INDEX" : 12,
     "id": 81073630,
    "gender": "MASCULINO",
     "age": 6,
     "institution": "INSTITUCION EDUCATIVA POLITECNICO ALVARO GONZALEZ SANTANA",
     "schoolGrade": 1,
     "schoolDay": "TARDE",
     "stratum": "ESTRATO 2",
     "disability": "NO APLICA",
     "countryOrigin": "COLOMBIA",
     "shapPosition": 5
}

In [35]:
df_student = pd.DataFrame([student])
df_student

,INDEX,id,gender,age,institution,schoolGrade,schoolDay,stratum,disability,countryOrigin,shapPosition
0,12,81073630,MASCULINO,6,INSTITUCION EDUCATIVA POLITECNICO ALVARO GONZA...,1,TARDE,ESTRATO 2,NO APLICA,COLOMBIA,5

In [33]:
df_student = df_student.reset_index()
df_student

,INDEX,id,gender,age,institution,schoolGrade,schoolDay,stratum,disability,countryOrigin,shapPosition
0,12,81073630,MASCULINO,6,INSTITUCION EDUCATIVA POLITECNICO ALVARO GONZA...,1,TARDE,ESTRATO 2,NO APLICA,COLOMBIA,5

In [27]:
df_student.index.name = ""
df_student

,id,gender,age,institution,schoolGrade,schoolDay,stratum,disability,countryOrigin,shapPosition
,,,,,,,,,,
12,81073630,MASCULINO,6,INSTITUCION EDUCATIVA POLITECNICO ALVARO GONZA...,1,TARDE,ESTRATO 2,NO APLICA,COLOMBIA,5